<div class="container m-2 p-2 border rounded shadow">
  <div class="row">
    <h4 class="col-12">{{good.name}}</h4>
    <span class="col-12">{{good.label}}</span>
  </div>
  <div class="row text-center">
    <h5 class="col-4 mt-2">Price: {{good.price}}</h5>
    <span class="col-4 text-success" (click)="shoppingCart.add(good)"><fa-icon class="faPlus" [icon]="faPlus"></fa-icon></span>
    <span class="col-4 text-danger" (click)="shoppingCart.remove(good.id)" *ngIf="shoppingCart.isInCart(good.id)"><fa-icon
      class="faMinus" [icon]="faMinus"></fa-icon></span>
  </div>
</div>
