:root{
  font-size: calc(0.5vw + 7px);
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
.shoppingBasket{
  font-size: 5em;
}
.OrderQuantity{
  color: red;
  font-size: 3em;
  margin-left: -1.22em;
  padding-bottom: 1em;
}
